html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  End of reset
*/

:root {
  --main-bg-color: #fdfdfd;
  --main-txt-color: #062c2d;
  --header-bg-color: rgba(26, 192, 198, 0.14);
  --footer-bg-color: #df4a3b;
  --footer-txt-color: #ddf6f7;
  --logo-txt-color: #75d363;
  --footer-txt-hover: #128387;
  --button-bg-color-login: #1ac0c6;
  --space: 1.5em 0;
  --space: 2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 62.5%;
  font-family: "Poppins", "Helvetica", sans-serif;
  background-color: var(--main-bg-color);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: #062c2d;
}

h1 {
  font-size: 3.9rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #062c2d;
  font-family: "Oswald", sans-serif;
}

button a {
  color: #ddf6f7;
  text-decoration: none;
}

.button-wrapper {
  padding-right: 15px;
}

.App {
  text-align: center;
  font-size: 1.2rem;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.sf-title {
  color: #75d363;
}

.sf-title-end {
  color: #df4a3b;
}

button.completedTask {
  text-decoration: line-through;
}

.dashboard-wrapper {
  border: 2px solid black;
  padding: 15px;
  margin: 2.5% auto;
}

.dataVis {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

/*
Nav/Header
*/

.header-nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 10px 20px 30px;
  background-color: var(--header-bg-color) !important;
  border-bottom: var(--main-txt-color) 1px solid;
  width: 100%;
  height: 100%;
}

.nav-bar .logo-main {
  font-size: 3.9rem;
  font-weight: bold;
}

.logo-color {
  color: var(--logo-txt-color);
}

.logo-color-end {
  color: var(--footer-bg-color);
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links .nav-item {
  padding: 10px 15px;
  font-size: 2rem;
  color: var(--main-txt-color) !important;
}

.nav-item a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--footer-bg-color);
  text-decoration-color: var(--footer-bg-color);
}

button.logout-btn {
  color: var(--footer-txt-color);
  background-color: var(--footer-bg-color);
  outline: none;
  font-size: 2.2rem;
  padding: 10px 15px;
  line-height: 1.3;
  border-color: var(--main-txt-color);
}

.sign_in-btn {
  background-color: var(--footer-txt-hover);
}
/*
 End of Nav/Header
*/

/*
 Signup/login
*/

.auth-container {
  border: 1px solid #128387;
  width: 45%;
  height: 100%;
  margin: 5% auto;
  border-radius: 4px;
}

.auth-container h1 {
  font-size: 4rem;
  padding-top: 40px;
}

.input-field {
  width: 80%;
  margin: 0 auto;
}

input[type="email"] {
  font-size: 1.8rem;
  padding-left: 10px;
  color: #128387 !important;
}

input[type="password"] {
  font-size: 1.8rem;
  padding-left: 10px;
  color: #128387 !important;
}

input[type="lastname"] {
  font-size: 1.8rem;
  padding-left: 10px;
  color: #128387 !important;
}

input[type="firstname"] {
  font-size: 1.8rem;
  padding-left: 10px;
  color: #128387 !important;
}

input.signup-input {
  background-color: #ddf6f7 !important;
  border-radius: 4px;
  border: #128387 1px solid !important;
  height: 40px;
  margin-top: 15px;
  width: 100%;
}

.signup-input::placeholder {
  color: #128387 !important;
  font-size: 1.8rem;
}

.auth-btn {
  background-color: var(--button-bg-color-login);
  color: var(--main-bg-color);
  font-size: 2.8rem;
  width: 36%;
  height: 55px;
  margin-top: 20px;
  border-radius: 4px;
  outline: none;
  line-height: 1.3;
  float: left;
}

.auth-btn:hover {
  background-color: var(--footer-bg-color) !important;
  color: var(--main-bg-color) !important;
}

.auth-h1 {
  font-size: 2.9rem;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 5px solid white;
}

.signup-btn {
  background-color: var(--footer-txt-hover) !important;
}

.signup-link {
  margin-top: 50px;
}

.input-bottom {
  display: flex;
  flex-direction: column;
}

.login-link {
  margin-top: 25px;
  color: var(--footer-bg-color);
  padding-bottom: 40px;
}

.login-btn {
  background-color: #1ac0c6 !important;
}

.login-forgot {
  color: #1ac0c6;
}

@media (min-width: 1600px) {
  .auth-container {
    width: 30%;
  }

  input.signup-input {
    width: 90%;
  }

  .auth-btn {
    margin-left: 5%;
  }

  .signup-btn {
    font-size: 2.4rem;
    width: 35%;
  }
}

@media (min-width: 1440px) {
  .auth-btn {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .auth-container {
    width: 90%;
  }
}

@media (max-width: 414px) {
  .auth-btn {
    width: 45%;
    font-size: 2.5rem;
  }

  .input-field {
    width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .auth-btn {
    width: 50%;
    font-size: 2.4rem;
  }
}

/*
End of Signup/login
*/

/* 
Footer
*/

.footer-section {
  flex-shrink: 0;
  background-color: var(--footer-bg-color) !important;
}

.footer-container {
  width: 100%;
  height: 100%;
  padding-top: 152px;
  padding-left: 20px;
}

.footer-section p {
  font-family: "Poppins", "Helvetica", sans-serif;
  color: var(--footer-txt-color) !important;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 165px;
  text-align: left;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
}

.footer-flex .nav-li:first-child {
  padding-right: 20px;
}

.footer-container li a {
  text-decoration: none;
  color: var(--footer-txt-color) !important;
  font-size: 1.8rem;
  font-weight: bold;
}

.footer-nav a:hover {
  color: var(--footer-txt-hover) !important;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-decoration: none;
}

.footer-item a {
  padding: 10px 15px;
  font-size: 2.2rem;
  color: var(--main-txt-color);
}

.footer-item a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--footer-bg-color);
  text-decoration-color: var(--footer-bg-color);
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

@media (max-width: 500px) {
  .footer-container {
    padding-left: 0;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 100%;
    display: flex;
  }
  .footer-flex {
    flex-direction: column;
    align-items: center;
  }
  .footer-section p {
    padding-top: 0;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container {
    padding-top: 20px;
  }
}
/*
End of Footer
*/
