html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  End of reset
*/

:root {
  --main-bg-color: #fdfdfd;
  --main-txt-color: #062c2d;
  --header-bg-color: rgba(26, 192, 198, 0.14);
  --footer-bg-color: #df4a3b;
  --footer-txt-color: #ddf6f7;
  --logo-txt-color: #75d363;
  --footer-txt-hover: #128387;
  --button-bg-color-login: #1ac0c6;
  --space: 1.5em 0;
  --space: 2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 62.5%;
  font-family: "Poppins", "Helvetica", sans-serif;
  background-color: var(--main-bg-color);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: #062c2d;
}

h1 {
  font-size: 3.9rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #062c2d;
  font-family: "Oswald", sans-serif;
}

button a {
  color: #ddf6f7;
  text-decoration: none;
}

.button-wrapper {
  padding-right: 15px;
}

.App {
  text-align: center;
  font-size: 1.2rem;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.sf-title {
  color: #75d363;
}

.sf-title-end {
  color: #df4a3b;
}

button.completedTask {
  text-decoration: line-through;
}

/* // AUTH - RESET PASSWORD STYLES */
.password-reset-form {
  width: 30%;
  margin: 0 auto;
}

.password-reset-form input {
  margin: 30px 0 20px 0;
  font-size: 1.5rem;
}

.password-reset-form h2 {
  margin-top: 20px;
}

.reset-password-btn {
  width: 100%;
  font-size: 4rem;
}

.reset-password-btn span {
  font-size: 1.5rem;
}

.btn-incorrect-link {
  margin-top: 20px;
}

.alert {
  width: 30%;
  margin: 20px auto;
  font-size: 1.5rem;
}

.alert-login {
  width: 80%;
  margin: 20px auto;
  font-size: 1.5rem;
}

.incorrect-link-alert {
  margin-top: 30px;
  width: 100%;
}

.register-alert-btn {
  width: 30%;
  margin-bottom: 30px;
}

.register-alert-btn a {
  font-size: 1.5rem;
}

.jumbotron {
  height: 50vh;
  background-color: white !important;
}

.jumbotron-container {
  background-color: white;
  height: 100vh;
}



@media screen and (max-width: 922px) {
  .password-reset-form {
    width: 50%;
  }

  .alert {
    width: 50%;
  }

  .register-alert-btn {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .password-reset-form {
    width: 70%;
  }

  .alert {
    width: 70%;
  }

  .register-alert-btn {
    width: 70%;
  }
}
