/*
Fonts

font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;

Colors

#1AC0C6
#128387
#062C2D
#75D363
#DF4A3B

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#page-wrap {
  width: 660px;
  background: white;
  padding: 20px 50px 20px 50px;
  margin: 20px auto;
  min-height: 500px;
  height: auto !important;
  height: 500px;
}

#contact-area {
  width: 600px;
  margin-top: 25px;
}

#contact-area input,
#contact-area textarea {
  padding: 5px;
  width: 471px;
  font-family: Oswald, sans-serif;
  font-size: 1.4em;
  margin: 0px 0px 10px 0px;
  border: 2px solid #ccc;
}

#contact-area textarea {
  height: 90px;
}

#contact-area textarea:focus,
#contact-area input:focus {
  border: 2px solid #900;
}

#contact-area input.submit-button {
  width: 100px;
  float: right;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
  font-size: 1.4em;
}

/*
  End of reset
*/

/*
 Customer styling
*/

/*
General stylings
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", "Helvetica", sans-serif;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

/*
  Header/Nav
*/

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(26, 192, 198, 0.14);
  border-bottom: #062c2d 1px solid;
  font-family: "Poppins", "Helvetica", sans-serif;
}

.logo-color {
  color: #75d363;
}

.logo-color-end {
  color: #df4a3b;
}

h1 {
  font-weight: bold;
}

.header-nav h1 a,
.nav-links a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  padding: 10px 15px;
  font-size: 2rem;
  color: #062c2d;
}

.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: #df4a3b;
}

/*
  Buttons
*/

button {
  color: #ddf6f7;
  border: 1px #dadada solid;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  font-size: 2rem;
}

button:hover {
  box-shadow: 1px 1px 1px #eaeaea;
  color: #ddf6f7;
  background: #df4a3b;
  transition-delay: 0.3s;
}

button a {
  color: #ddf6f7;
  text-decoration: none;
}

.signup-btn {
  background-color: #128387;
}

.login-btn {
  background-color: #1ac0c6;
}

.cta-btn {
  background-color: #128387;
}

/*
 CTA
*/

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background-color: rgba(26, 192, 198, 0.14);
}

/*
 Hero
*/

.hero-header {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/*
services
*/
.services-wrapper {
  display: flex;
}

.services h3 {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.services-content {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  align-items: center;
  width: 30%;
  align-self: center;
}
