/*
Fonts

font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;

Colors

#1AC0C6
#128387
#062C2D
#75D363
#DF4A3B

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  End of reset
*/

/*
 Custom styling
*/

/*
General stylings
*/

:root {
  --main-bg-color: #fdfdfd;
  --main-txt-color: #062c2d;
  --header-bg-color: rgba(26, 192, 198, 0.14);
  --footer-bg-color: #df4a3b;
  --footer-txt-color: #ddf6f7;
  --logo-txt-color: #75d363;
  --footer-txt-hover: #128387;
  --button-bg-color-login: #1ac0c6;
  --team-card-bg-color: #c1eef0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 62.5%;
  font-family: "Poppins", "Helvetica", sans-serif;
  background-color: var(--main-bg-color);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--main-txt-color);
}

h1 {
  font-size: 3.9rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--main-txt-color);
  font-family: "Oswald", sans-serif;
}

/*
  Header/Nav
*/

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 10px 20px 30px;
  background-color: var(--header-bg-color);
  border-bottom: var(--main-txt-color) 1px solid;
  width: 100%;
  height: 100%;
}

.logo-color {
  color: var(--logo-txt-color);
}

.logo-color-end {
  color: var(--footer-bg-color);
}

.header-nav h1 a,
.nav-links a {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item a {
  padding: 10px 15px;
  font-size: 2.2rem;
  color: var(--main-txt-color);
}

.nav-item a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--footer-bg-color);
  text-decoration-color: var(--footer-bg-color);
}

/*
  Buttons
*/

button,
.signup-btn,
.login-btn {
  color: var(--footer-txt-color);
  outline: none;
  font-size: 2.8rem;
  padding: 5px 30px;
  line-height: 1.3;
  border-color: var(--main-txt-color);
}

button,
#hover-effect:hover {
  color: var(--footer-txt-color);
  background: var(--footer-bg-color);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-decoration: none;
}

button a {
  color: var(--footer-txt-color);
  text-decoration: none;
}

.button-wrapper {
  padding-right: 15px;
}

.signup-btn {
  background-color: var(--footer-txt-hover);
}

.login-btn {
  background-color: var(--button-bg-color-login);
}

.cta-btn {
  background-color: var(--footer-txt-hover);
  padding: 10px 43px;
  font-size: 2.8rem;
}

/*
 CTA
*/

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--header-bg-color);
}

.cta h2 {
  padding: 103px 0 34px 0;
}

.cta p {
  padding: 24px 0 40px 0;
}

/*
 Hero
*/

.hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 0;
}

.hero-header h3 {
  font-weight: 400;
  width: 25%;
  text-align: center;
}

.hero-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hero-images img {
  border-radius: 4px;
  padding-bottom: 20px;
}

/*
services
*/
.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 0;
}

.services h4 {
  padding-bottom: 20px;
  font-weight: bold;
}

.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
}

.services p {
  text-align: left;
  padding-right: 25px;
}

/*
  Contact
*/

.contact {
  padding: 40px 0;
  font-size: 1rem;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#contact-area .submit-button {
  margin-right: 13px;
  border-radius: 4px;
}

input,
textarea {
  border-radius: 4px;
}

#page-wrap {
  width: 660px;
  background: var(--main-bg-color);
  padding: 20px 50px 20px 50px;
  margin: 20px auto;
  min-height: 500px;
  height: auto !important;
  height: 500px;
}

#contact-area {
  width: 600px;
  margin-top: 25px;
}

#contact-area input,
#contact-area textarea {
  padding: 5px;
  width: 471px;
  font-size: 1.4em;
  margin: 0px 0px 10px 0px;
  border: 2px solid var(--main-txt-color);
}

#contact-area textarea {
  height: 90px;
}

#contact-area textarea:focus,
#contact-area input:focus {
  border: 2px solid var(--main-txt-color);
}

#contact-area input.submit-button {
  width: 100px;
  float: right;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
  font-size: 1.4em;
}

/*
  Footer
*/

footer {
  background-color: var(--footer-bg-color);
  width: 100%;
  height: 100%;
  padding-top: 152px;
}

footer p {
  font-family: "Poppins", "Helvetica", sans-serif;
  color: var(--footer-txt-color);
  padding-top: 5px;
  padding-bottom: 15px;
}

.footer-container {
  padding-left: 20px;
}

.footer-container p {
  padding-left: 15px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container li a {
  text-decoration: none;
  color: var(--footer-txt-color);
  font-size: 1.8rem;
  font-weight: bold;
}

.footer-nav a:hover {
  color: var(--footer-txt-hover);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  text-decoration: none;
}

/* 
  Medi Queries
*/

@media (max-width: 992px) {
  button,
  .signup-btn,
  .login-btn {
    font-size: 2rem;
    padding: 5px 20px;
  }
}

@media (min-width: 961px) {
  .hero-images {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .hero-images img {
    width: 40%;
    height: 100%;
  }

  .services h4 {
    font-size: 2.5rem;
  }

  .services p {
    font-size: 1.6rem;
  }

  .contact {
    padding: 80px 0;
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .nav-item a {
    padding: 10px 10px;
    font-size: 2rem;
  }
}

@media (max-width: 910px) {
  .navbar {
    display: none;
  }

  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
  }

  .navbar .nav-item {
    padding: 8px 0;
  }

  .hero-images img {
    padding-bottom: 10px;
    width: 90%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .header-nav {
    padding-bottom: 20px;
  }

  .hero-header h3 {
    width: 50%;
  }

  .services-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services-content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .services h4 {
    padding: 25px 0 5px 0;
    font-size: 2.6rem;
  }

  .services p {
    text-align: center;
    padding-right: 0px;
    font-size: 2rem;
  }

  .services h3 {
    padding: 10px 0;
    font-size: 3rem;
  }
}

@media (max-width: 585px) {
  #contact-area .submit-button {
    margin-right: 13%;
  }

  #contact-area {
    width: 82%;
  }

  #contact-area input,
  #contact-area textarea {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  button,
  .signup-btn,
  .login-btn {
    font-size: 1.8rem;
    padding: 5px 15px;
  }
}

@media (max-width: 514px) {
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button-wrapper {
    padding-top: 20px;
  }

  button,
  .signup-btn,
  .login-btn {
    font-size: 2rem;
    padding: 5px 25px;
  }

  .services-content p {
    font-size: 1.6rem;
  }

  .contact-flex {
    display: flex;
    flex-direction: column;
  }

  .submit-button {
    align-items: center;
  }
}

@media (max-width: 505px) {
  label {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 414px) {
  .cta h2 {
    padding-top: 40px;
    text-align: center;
  }

  .hero-header h3 {
    width: 60%;
  }

  #contact-area {
    margin: 0 auto;
  }

  label {
    text-align: left;
    padding-bottom: 5px;
  }
}

@media (max-width: 375px) {
  #contact-area .submit-button {
    margin-right: 18%;
  }

  .contact-flex {
    margin: 0 auto;
    width: 98%;
  }
}

@media (max-width: 360px) {
  .logo-main {
    width: 50%;
  }

  #contact-area {
    width: 85%;
  }

  #contact-area input,
  #contact-area textarea {
    width: 300px;
  }
  #contact-area .submit-button {
    margin-right: 5px;
  }
}

@media (max-width: 320px) {
  button,
  .signup-btn,
  .login-btn {
    font-size: 2rem;
    padding: 5px 25px;
  }
  #contact-area {
    width: 80%;
  }

  #contact-area input,
  #contact-area textarea {
    width: 260px;
  }
  #contact-area .submit-button {
    margin-right: 0;
    margin: 0 0 0 10px;
  }
}
