.team-card-wrapper-top {
  display: flex;
  margin: 60px 0;
}

.team-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--team-card-bg-color);
  max-width: 300px;
  height: 700px;
  margin: auto;
  text-align: center;
  border-radius: 4px;
}

.team-card-portrait {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto 0;
}

.team-card-img {
  width: 100%;
  height: 100%;
}

h3.team-card-name {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 2rem;
  color: var(--footer-bg-color);
}

h4.team-card-header {
  width: 80%;
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Poppins", "Helvetica", sans-serif;
  padding: 20px 0;
}

p.team-card-text {
  width: 93%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Poppins", "Helvetica", sans-serif;
}

.team-card-wrapper-middle {
  display: flex;
  margin: 60px 0;
}

@media (min-width: 1680px) {
  .team-card-wrapper-top {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 940px) {
  .team-card-wrapper-top {
    flex-direction: column;
  }

  .team-card-wrapper-middle {
    flex-direction: column;
  }

  .team-card {
    margin-bottom: 30px;
  }
}
