/* .specialty-button {
    width: 500px;
    height: 100px;
    margin-bottom: 45px;
    border: 2px solid black;
    text-align: center;
}

.specialty-certifications {
    display: flex;
    justify-content: space-around;
}



.specialties-container {
    text-align: left;

}

.language {
    width: 180px;
    height: 30px;
}

.bio {
   display: flex;
   justify-content: space-evenly
}

.bio-text {
    padding-top: 50px;
    width: 300px;
    height: 300px;
    text-align: left;
}

#exampleText {
    margin: 0 auto;
    width: 580px;
    height: 300px;
} */

.prof-edit-container {
    width: 100%;
    
      
}
.prof-edit-main {
    
}
.prof-edit-header {
    width: 100%;
}
.prof-image-area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: self-end;
}

.prof-image-area .row {
    padding: 16px;
}
.field-row {
    padding: 4px
}
.field {
    width: 95%;
}
.bio-field-row {
    justify-content: center;
}
.bio-field {
    width: 65%;
    min-width: 300px;
    
}
.prof-edit-section-left {
    width: 45%;
}

.prof-edit-section-right {
    width: 55%;
}
.image--cirlce {
    /* position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; */
}

.upload-prof-img-input {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    padding: 4px 8px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 4px;
    color: white;
    background-color: #1D888C;
    minWidth: 130px;
    height: auto;
    /* display: inline-block; */
}

.inputfile:focus + label,
.inputfile + label:hover {
    cursor: pointer;
    
}

.hover:hover {
    color: #1ac0c6;
    cursor: pointer; 
}



.image--circle img {
    position: relative;
    width: 186px;
    height: 186px;
    overflow: hidden;
    border-radius: 50%;
}
.modal-icon-container {
    border: 2px solid black;
    border-radius: 16px;
    padding: 6px;
    width: 200px;
    height: 200px;
}
.modal-icon {
    margin-top: 15%;
    font-size: 10rem;
    color: inherit;
    
}
.modal-icon-container label:hover {
    cursor: pointer;
}
.modal-icon-container:hover {
    color: #1ac0c6;
    border-color: #1ac0c6 ;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
}


.specialty-card {
    font-size: 2rem;
    width: 160px;
    height: 160px;
}

.selected {
    color: pink;
    border: 2.5px solid #1ac0c6;
}

.cd {
    padding: 0;
    margin: 0;
}


.card-body {
    color: #062C2D;
    height: 240px;

}



.label {
    margin: 0;
    padding: 0;
    width: 50px;
}

.card-img {
    width: 100%;
    height: auto;
    /* width:400px;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: 062C2D; */
}

.modal-input {
    width: 80%;
}

.img-row {
    background-color: #128387;
    height: 250px;
}

.img-row h3 {
    color: red;
}

.img-row h4 {
}

.upload-image-text {
    height: 100px;
    color: white;
}

.bio-lang {
    background-color: #062C2D;
    color: white
}

.bio {
    height: 450px;
}

.bio-text-current {
    width: 500px;
    height: 150px;
    color: white;
}

.bio-text-new {
    width: 500px;
    height: 400px;
}

.lang-current {
    color: white;
}

#exampleText {
    height: 200px;
}

.changes-button {
    width: 50%;
}

.img-border {
    border: 1px solid black;
    height:  70px;
    width: 70px;
}