.loading {
    position: fixed;
    overflow: visible;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .8);
    color: seashell;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.loading-spinner {
    
}

.prof-edit-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-top: 12px;
    padding: 12px 2px;
      
}

.prof-edit-container h3 {
    font-size: 2rem
}

.prof-edit-container h4 {
    font-size: 1.5rem
}

.form-control {
    font-size: 1.2rem !important;
}

.prof-edit-main {
    
}
.prof-edit-header {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.prof-image-area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: self-end;
}

.prof-image-area .row {
    padding: 16px;
}
.field-row {
    padding: 4px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.field {
    width: 95%;
}
.bio-field-row {
    justify-content: center;
}
.bio-field {
    width: 65%;
    min-width: 300px;
    
}
.prof-edit-section-left {
    /* width: 45%; */
}

.prof-edit-section-right {
    /* width: 55%; */
}
.image--cirlce {

}

.upload-prof-img-input {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    padding: 4px 8px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 4px;
    color: white;
    background-color: #1D888C;
    minWidth: 130px;
    height: auto;
}

.inputfile:focus + label,
.inputfile + label:hover {
    cursor: pointer;
    
}

.hover:hover {
    color: #1ac0c6;
    cursor: pointer; 
}

.image--circle {
    margin: 8px auto;
}

.image--circle img {
    position: relative;
    width: 186px;
    height: 186px;
    overflow: hidden;
    border-radius: 50%;

    
}
.modal-icon-container {
    border: 2px solid black;
    border-radius: 16px;
    padding: 6px;
    width: 150px;
    height: 150px;
}
.modal-icon-lg {
    margin-top: 15%;
    font-size: 6rem;
    color: inherit;
    
}
.modal-icon-sm {
    font-size: 3.5rem;
    color: inherit;
    
}
.modal-icon-container label:hover {
    cursor: pointer;
}
.modal-icon-container:hover {
    color: #1ac0c6;
    border-color: #1ac0c6 ;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.specialty-select-row {
    width: 250px;
    justify-content: space-around;
}

.edit-section {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-header {
    font-weight: bold;
    font-size: 2.8rem;
    
}

.edit-sub-section {

    margin-top: 12px;
}

.specialty-select-group {
    width: 100%;
    margin-top: 9px;
}

.specialty-card {
    width: 100%;
    margin-top: 9px;
}

.specialty-card:not(:first-child) {
    margin-top: 18px;
}

.specialty-card:hover {

    border-color: #1ac0c6 ;
    cursor: pointer;
}


.selected {
    
    border-color: #1ac0c6 ;
    background-color:#1ac0c6 !important;
    
}

.selected li {
    border: 2.5px solid #1ac0c6;
    background-color: #1ac0c6;
}

.cd {
    padding: 0;
    margin: 0;
}
.saved-data-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.saved-specs-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

}

.cert-header {
    display: flex;
    max-width: 350px;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 6px 12px;
}

.saved-cert-card {

    margin: 12px 0;
    padding: 6px 2px;
}

.saved-cert-card-body {
    display: flex;
    flex-flow: row wrap;
}

.temp-avatar {
    font-size: 16rem;
}

.label {
    margin: 0;
    padding: 0;
    width: 50px;
}

.card-img {
    width: 100%;
    height: auto;
}

.modal-input {
    /* width: 250px !important; */
}

.img-row {
    background-color: #128387;
    height: 250px;
}

.img-row h3 {
    color: red;
}

.img-row h4 {
}

.upload-image-text {
    height: 100px;
    color: white;
}

.bio-lang {
    background-color: #062C2D;
    color: white
}

.bio {
    height: 450px;
}

.bio-text-current {
    width: 500px;
    height: 150px;
    color: white;
}

.bio-text-new {
    width: 500px;
    height: 400px;
}

.lang-current {
    color: white;
}

#exampleText {
    height: 200px;
}

.changes-button {
    
}

.img-border {
    border: 1px solid black;
    height:  70px;
    width: 70px;
}