/*
 DisplayProile
*/

.displayProfile-top {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.avatar-img {
  width: 13%;
  height: 100%;
  margin-left: 40px;
}

.profile-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.displayCert-text h2 {
  font-weight: bold;
  text-align: left;
  margin: 0 0 0 20%;
}

.displayCert-text p {
  text-align: left;
  width: 300px;
  margin: 0 0 0 20%;
}

.editprofile-btn {
  background-color: var(--footer-txt-hover);
  color: var(--main-bg-color);
  font-size: 2.8rem;
  width: 10%;
  height: 55px;
  margin-right: 20px;
  border-radius: 4px;
  outline: none;
  float: right;
  line-height: 1.9;
  text-align: center;
}

.displayProfile-bottom {
  display: flex;
  justify-content: space-between;
}

.displayInfo {
  width: 18%;
  height: 100%;
  margin: 20px 0 0 40px;
}

.displayInfo p {
  font-size: 1.9rem;
  text-align: left;
  font-weight: 400;
  font-family: poppins;
}

.displayBio {
  width: 56%;
  margin: 0 auto;
  margin-top: 60px;
}

.displayBio h2 {
  font-weight: bold;
}

.displayBio h2,
p {
  font-family: poppins;
  text-align: left;
}

@media (min-width: 1600px) {
  .displayProfile-container {
    width: 80%;
    margin: 0 auto;
  }
  .editprofile-btn {
    font-size: 2.2rem;
    width: 10%;
    line-height: 2.5;
  }
}

@media (max-width: 1500px) {
  .editprofile-btn {
    font-size: 1.9rem;
    width: 10%;
    line-height: 3;
  }
}

@media (max-width: 1024px) {
  .editprofile-btn {
    font-size: 1.8rem;
    width: 10%;
    line-height: 2.9;
  }
  .displayCert-text p {
    text-align: left;
    width: 180px;
    margin: 0 0 0 20%;
  }
}

@media (max-width: 768px) {
  .editprofile-btn {
    font-size: 1.2rem;
    line-height: 4.9;
  }

  .displayCert-text h2 {
    text-align: center;
    margin: 0;
  }
  .displayCert-text p {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .displayBio {
    width: 50%;
  }

  .displayInfo p {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .displayProfile-top {
    flex-direction: column;
  }

  .displayProfile-bottom {
    flex-direction: column;
  }

  .avatar-img {
    width: 50%;
    height: 100%;
    margin: 10px auto;
  }

  .displayCert {
    margin: 0 auto;
    width: 100%;
  }

  .displayCert-text p {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 2rem;
  }

  .displayCert-text h2 {
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    font-size: 2.4rem;
  }

  .editprofile-btn {
    font-size: 2rem;
    width: 30%;
    line-height: 2.8;
    margin: 5% auto;
  }

  .displayInfo {
    text-align: center;
    width: 95%;
    margin: 5% auto;
  }

  .displayInfo p {
    font-size: 2rem;
    text-align: center;
  }

  .displayBio {
    width: 85%;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .displayBio h2 {
    text-align: center;
    font-size: 2.4rem;
  }

  .displayBio p {
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .displayProfile-top {
    flex-direction: column;
  }

  .displayProfile-bottom {
    flex-direction: column;
  }

  .avatar-img {
    width: 50%;
    height: 100%;
    margin: 10px auto;
  }

  .displayCert {
    margin: 0 auto;
    width: 100%;
  }

  .displayCert-text p {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
  }

  .displayCert-text h2 {
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
  }

  .editprofile-btn {
    font-size: 1.7rem;
    width: 30%;
    line-height: 3.2;
    margin: 5% auto;
  }

  .displayInfo {
    width: 70%;
    margin: 5% auto;
    margin-bottom: 0;
  }

  .displayInfo p {
    font-size: 2rem;
  }

  .displayBio {
    width: 85%;
    margin-top: 2%;
    margin-bottom: 5%;
  }
}

@media (max-width: 320px) {
  .displayCert-text p {
    text-align: center;
  }
}
