.dashboard-wrapper {
  margin-top: 3%;
}

.dashboard-wrapper,
.dataVis {
  border: 1px solid #128387;
  border-radius: 4px;
  padding: 15px;
}

.visual h3 {
  font-size: 2.9rem;
  font-weight: bold;
  padding-bottom: 2%;
}

.dataVis {
  width: 60%;
  margin: 5% auto;
  padding: 8% 10%;
  font-size: 2rem;
}

.clientListHome {
  border: 1px solid #128387 !important;
}

.todoList h3 {
  font-size: 2.9rem;
  font-weight: bold;
  padding-bottom: 2%;
}

.clearTask-btn {
  background-color: var(--button-bg-color-login) !important;
  padding: 10px 15px !important;
  font-size: 1.8rem !important;
  margin-top: 2%;
}
.todoList {
  font-size: 1.8rem;
  margin-bottom: 2%;
}

.todoList button {
  text-transform: capitalize;
  border: 1px solid #128387;
  border-radius: 4px;
}

.todoList button:hover {
  background-color: var(--footer-bg-color);
}

.demo-btn {
  background-color: var(--logo-txt-color) !important;
  border: none !important;
  padding: 10px 15px !important;
  font-size: 1.8rem !important;
}

@media screen and (max-width: 414px) {
  .dashboard-wrapper {
    border: none;
  }
}
